@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
// font-family: 'Bebas Neue', cursive;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
// font-family: 'Oswald', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
// font-family: 'Anton', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
// font-family: 'Roboto', sans-serif;

body {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 2rem;
}

.heading-primary {
  /*h1*/
  color: $color-white;
  font-family: "Anton", sans-serif;
  font-size: 3.5rem;
}

.heading-secondary {
  /*h2*/
  color: $color-white;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  font-weight: 400;
}

.heading-tertiary {
  /*h3*/
  color: $color-white;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  line-height: 1rem;
  font-weight: 400;
}
