@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
// font-family: 'Lobster', cursive;
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
// font-family: 'Lobster Two', cursive;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap");
// font-family: 'Playfair Display SC', serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
// font-family: 'Roboto', sans-serif;

body {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.heading-primary {
  /*h1*/
  background: linear-gradient(
    175deg,
    $color-gold-dark 5%,
    $color-gold-light 100%
  );
  font-size: 3rem;
  color: transparent;
  text-transform: capitalize;
  font-family: "Lobster", cursive;
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-secondary {
  /*h2*/
  color: $color-white;
  font-family: "Lobster Two", cursive;
  font-size: 2.9rem;
  font-weight: 400;
}

.heading-tertiary {
  /*h3*/
  color: $color-white;
  font-family: "Playfair Display SC", serif;
  font-size: 1.7rem;
  line-height: 1rem;
  font-weight: 700;
}
