$color-gold-light: #eeff00;
$color-gold-dark: #ed7b00;

/*Secondary gradient DARKER pink colors*/
$color-secondary-light: rgb(82, 40, 250);
$color-secondary-dark: rgb(33, 1, 163);

$color-tertiary-light: #af0171;
$color-tertiary-dark: #3f0071;

/*GENERAL colors */
$color-white: #fff;
$color-grey: rgb(123, 123, 123);
$color-black: #000;

$color-green-light: #0bf906;
$color-green-dark: #2ae1b9;

$color-background-dark: #010619;
$color-background-mid-blue: #020b2a;
$color-background-mid-purple: #2f0851;
$color-background-light: #8800ba;
