@import "../../sass/importStyles.scss";

.banner-menu {
  gap: 1rem;
  width: 100%;
  height: 12rem;
  position: relative;
  @include flex-config(flex, column, nowrap, center, flex-start);

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    object-fit: cover;
    object-position: center;
  }
}
